@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <input type="text" id="topic" class="form-control form-control-sm" value="" />
    <input type="text" id="payload" class="form-control form-control-sm" value="" />
    <button class="btn btn-success" onclick="buttonClick()">Click</button>
</div>
@section Scripts
{
    <script src="~/js/mqtt.js"></script>
    <script type="text/javascript">
        const WS = (() => {
            var client;

            const publish = (topic, payload, qos = 1) => {
                if (topic && payload)
                    client.publish(topic, payload, { qos: qos, retain: true },);
            }

            const subscribe = (topic, qos = 2) => {
                if (topic)
                    client.subscribe(
                        topic,
                        { qos: qos },
                        (err) => {
                            if (!err);
                            console.log("Subscribed");
                        })
            }

            const init = () => {
                client = mqtt.connect('wss://localhost:5001/mqtt',
                    {
                        username: "admin",
                        password: "123456"
                    })

                client.on('connect', () => {
                    console.log("connected");
                })

                client.on('message', (topic, message) => {
                    console.log(topic);
                    console.log(message.toString())
                })

            }


            return {
                init: init,
                subscribe: subscribe,
                publish: publish
            }
        })();

        $(document).ready(function () {
            WS.init();
            WS.subscribe("test1")
        })
        function buttonClick() {
            WS.publish(document.getElementById("topic").value, document.getElementById("payload").value, 1);
        }
    </script>
}
