@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <input type="text" id="topic" class="form-control form-control-sm" value="" />
    <input type="text" id="payload" class="form-control form-control-sm" value="" />
    <button class="btn btn-success" onclick="buttonClick()">Click</button>
</div>
@section Scripts
{
    <script src="~/js/mqtt.js"></script>
    <script type="text/javascript">
        const client = mqtt.connect('wss://localhost:5001/mqtt',
            {
                clean: false,
                username: "123",
                password: "321"
            })

        client.on('connect',
            function() {
                client.subscribe("tuansan123",{ qos: 1 },
                    function(err, data) {
                        console.log("Subscribed");
                    })
            })

        client.on('message',
            function(topic, message) {
                console.log(topic);
                console.log(message.toString())
            })

        function buttonClick() {
            client.publish(document.getElementById("topic").value, document.getElementById("payload").value, { qos: 1 });
        }
    </script>
}
